html, body {
	height: 100%;
}

body {
	display: flex;
	flex-direction: column;
	font-size: x-large;
	font-family: 'Roboto', sans-serif;
	color: rgba(0,0,0,0.87);
}

#battle {
	flex-shrink: 0;
	padding: 10px;
}

.health {
	width: 35%;
	background: #CFD8DC;
}

.health-bar {
	background: #8BC34A;
}

.health-text {
	padding: 5px 10px;
	font-size: xx-large;
}

.player.health {
	float: left;
}

.enemy.health, .enemy.health div {
	float: right;
}

#output {
	flex-grow: 1;
	overflow-y: auto;
	padding: 0px 10px;
	margin-bottom: 10px;
}

#controls {
	flex-shrink: 0;
	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;
	box-sizing: border-box;
	padding: 5px;
	background: #E3F2FD;
}

.move {
	box-sizing: border-box;
	width: calc(50% - 10px);
	padding: 10px;
	margin: 5px;
	background: #2196F3;
	color: #fff;
	cursor: pointer;
	font-size: xx-large;
	text-align: center;
	user-select: none;
}

.no-select {
	-webkit-touch-callout: none;	/* iOS Safari */
	-webkit-user-select: none;		/* Chrome/Safari/Opera */
	-moz-user-select: none;			/* Firefox */
	-ms-user-select: none;			/* Internet Explorer/Edge */
	user-select: none;				/* Non-prefixed version, currently not supported by any browser */
}